# NetBeans project files

/nbproject/private/

/nbproject/build-impl.xml

/nbproject/build-impl.xml~

/nbproject/genfiles.properties

/nbproject/j2seproject.properties

/nbproject/project.properties


# Compiled class files

/build/


# Binary files

/dist/

/nbbuild/

/nbres/


# IDE-specific files

/build.xml

/nb-configuration.xml

/nb-configuration.xml~

/nbactions.xml

/nbactions.xml~


# Mac OS X metadata files

.DS_Store


# Thumbnails folder on macOS

._*


# User-specific files

/var/

.nb-gradle/

/nbactions-user.xml

/nb-configuration-user.xml

/nb-configuration-user.xml~

